<div class="container">
<button class='js-sort btn btn-info'>Sort</button>
<div class="toempty">
<br>
<br>
  <div id="listingsInfo" class="well col-sm-12">
  </div>
  <div id="listingsSort" class="well col-sm-12">
  </div>
</div>
