<div class="row">
    <div class="col-md-10"><p><%= link_to  category.name, category, :class => "load_listings" %></p></div>
    <div  class="col-md-2"><%= button_to  "Delete", category_path(category),
    method: :delete, class: "btn btn-secondary btn-sm"  %></div>
</div>
<hr>
